<!--最高级管理员登录界面-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员界面</title>
  <link rel="stylesheet" href="/static/css/layui.css">
    <link href="//unpkg.com/layui@2.9.9/dist/css/layui.css" rel="stylesheet">
</head>
<div class="layui-tab layui-tab-card">
    <!--      总标签-->
  <ul class="layui-tab-title">
    <li class="layui-this">人员管理</li>
    <li>用户管理</li>
    <li>标签3</li>
    <li>标签4</li>
    <li>标签5</li>
  </ul>
  <div class="layui-tab-content">
<!--      标签1的内容1-->
    <div class="layui-tab-item layui-show">
    <table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="150">
    <col>
  </colgroup>
  <thead>
    <tr>
<!--        渲染列头-->
      <th Lay-data="{field:username}">用户名</th>
      <th Lay-data="{field:salary}">薪水</th>
      <th Lay-data="{field:department}">岗位</th>
        <th Lay-data="{field:level}">授权等级</th>
        <th Lay-data="{field:password}">密码</th>
       <th Lay-data="{field:option}">修改</th>
      <th Lay-data="{field:del}">删除</th>
    </tr>
  </thead>
  <tbody>
  {#写python代码，导入数据#}
  {% for sal in salary_list %}
  <tr>
      <td>{{sal.username}}</td>
      <td>{{sal.salary}}</td>
      <td>{{sal.department}}</td>
      <td>{{sal.level}}</td>
      <td>{{sal.password}}</td>
<!--      点击修改，请求后台数据-->
      <td><a href="/change/{{sal.username}}" class="layui-btn layui-btn-sm" >修改</a></td>
       <td><a href="/delete/{{sal.username}}" class="layui-btn layui-btn-sm layui-bg-red">删除</a></td>
    </tr>
   {% endfor %}
  </tbody>
</table>
        <form action="/add" method="GET">
            <a href="/add" class="layui-btn layui-btn-sm">添加</a>
        </form>
    </div>
    <div class="layui-tab-item">内容-2</div>
    <div class="layui-tab-item">内容-3</div>
    <div class="layui-tab-item">内容-4</div>
    <div class="layui-tab-item">内容-5</div>
  </div>
</div>

<script src="/static/layui.js"></script>

</body>
</html>