<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>用户界面</title>
  <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body>
<ul class="layui-nav">
  <li class="layui-nav-item" lay-unselect>
    <a href="javascript:;">
      <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
    </a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">用户名</a></dd>
      <dd><a href="javascript:;">组织</a></dd>
        <dd><a href="javascript:;">部门</a></dd>
        <dd><a href="javascript:;">职位</a></dd>
      <hr>
      <dd style="text-align: center;"><a href="https://www.simtech-sh.com/">帮助</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="">授权管理<span class="layui-badge-dot"></span></a>
  </li>
</ul>
<div>
  <ul class="layui-nav layui-nav-tree">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">默认展开</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">选项1</a></dd>
      <dd><a href="javascript:;">选项2</a></dd>
      <dd><a href="javascript:;">选项3</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;">默认收缩</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">选项1</a></dd>
      <dd><a href="javascript:;">选项2</a></dd>
      <dd><a href="javascript:;">选项3</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="javascript:;">菜单1</a></li>
  <li class="layui-nav-item"><a href="javascript:;">菜单2</a></li>
  <li class="layui-nav-item"><a href="javascript:;">菜单3</a></li>
</ul>
</div>
<script src="/static/layui.js"></script>

</body>
</html>